# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Data & Databases
data/
db/
*.db
*.sqlite
*.pkl

# Environment variables
.env
.env.local

# UV cache
.uv-cache/
.uv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

lymphaclustering.egg-info